<section class="home home1">
  <div class="title-container">
    <h1>Test Compare Delight</h1>
    <h3>The place to enjoy your coffee</h3>
  </div>

</section>
<section class="home home2 latest-home">
  <% latest_products.each do |lp| %>
    <div><%=lp.name %></div>
  <% end %>
</section>
<section class="home home3"></section>
