@import "variables";
/*========= GENERAL =======*/
body {
    a,
    p {
        font-family: $noto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $ubuntu;
    }
}
/*========= HEADER =======*/
header.navbar {
    background-color: $secondary;
    margin: 0;
    border: none;
    border-radius: 0;
    color: $fourth;
    padding: 15px 0;

    .logo h1 a {
        color: $blue-green;
        font-size: $h1;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    nav {
        margin-top: 15px;
        text-align: center;

        a {
            @include link-menu;
        }
    }

    .login {
        input[type="password"],
        input[type="submit"],
        input[type="text"] {
            font-family: $ubuntu;
            font-size: $p16;

            &:active,
            &:focus,
            &:hover {
                background-color: $third;
                padding: 5px 15px;
            }
        }
    }
}
/*========= FOOTER =======*/
footer {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba($secondary, 0.9); //rgba( $ayellow, .7 );
    border-top: 10px solid $blue-green;

    .social {
        text-align: center;
        padding: 20px 0;

        .fa {
            margin-left: 10px;
            color: $blue-green;

            &:hover {
                color: $white;
            }
        }
    }

    .foo {
        h6 {
            color: $white;
        }

        li {
            cursor: pointer;
            list-style-type: none;

            &:hover {
                color: $white;
            }
        }
    }
}
