@import "variables";

.home1 {
    height: 500px;
    background-image: url("coffee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    margin: 0;
    text-align: center;
    line-height: 500px;
    vertical-align: middle;

    .title-container {
        z-index: 1000;
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        color: $white;
        // background-color: rgba(0, 0, 0, 0.4);
        padding: 40px;

        h1 {
            font-size: $h1;
            line-height: 2;
        }
    }
}

.home2 {
    background-color: $brown;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;

    .home-search {
        background-color: $ayellow;
        width: 630px;
        height: 50px;
        margin: 0 auto;

        .home-search-input {
            border: 3px solid $ayellow;
            background-color: $brown;
            border-radius: 1px;
            height: 45px; //8vh;
            width: 500px; //45vw;
        }

        .home-search-button {
            border: 1px solid $ayellow;
            background-color: $ayellow;
            text-align: center;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 600;
            width: 120px;
            height: 45px;

            &:hover {
                background-color: $brown;
                color: $ayellow;
            }
        }
    }
}
