@import "variables";
/* ========== PRODUCTS INDEX ================ */
.index {
    background-color: $grey;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.index-products {
    width: 80%;
    background-color: navy;
    display: block;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .coffe-wrap {
        background-color: orange;
        height: 250px;
        width: 280px;
        display: block;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin-left: 45px;
        margin-bottom: 45px;

        figure {
            background-color: red;
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}
