@import "https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu";
/* line 1, /Users/Mandilu/Projects/coffee_review/app/assets/stylesheets/variables.scss */
* {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

/*========= COLORS =======*/
/*========= FONT FAMILY =======*/
/*=========  SIZE =======*/
/*========= mixin =======*/
/* line 3, /Users/Mandilu/Projects/coffee_review/app/assets/stylesheets/pages.scss */
.home1 {
  height: 500px;
  background-image: url("coffee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  line-height: 500px;
  vertical-align: middle;
}
/* line 15, /Users/Mandilu/Projects/coffee_review/app/assets/stylesheets/pages.scss */
.home1 .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 40px;
}
/* line 25, /Users/Mandilu/Projects/coffee_review/app/assets/stylesheets/pages.scss */
.home1 .title-container h1 {
  font-size: 50px;
  line-height: 2;
}
